body {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/bg.png');
    background-size: 8%;
    background-position: center;
    overflow: hidden;

    .background-effect {
        width: 100vw;
        height: 100vh;
        backdrop-filter: grayscale(100%) blur(3px);
        position: absolute;
        overflow: hidden;
        transition: transform 1s ease-in;   

        &.active{
            transform: translateY(-100%);
        }
    }
}

main {
    background: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    font-family: "Google Sans", sans-serif;


    h1 {
        color: #000;
        z-index: 9999;
        font-size: 8rem;
        display: inline-block;
        margin-top: 40vh;
        transition: transform 1.5s ease-in;   
             
        &.active{
            transform: translateY(-100vh);
        }
    }

    span.bounce {
        display: inline-block;
        position: absolute;
        bottom: 100px;
        left: 50%;
        transform: translateX(-50%);
        animation: bounce 2s ease infinite;
    }

    button {
        box-shadow: none;
        border: none;
        background: none;
        cursor: pointer;
    }

    i {
        color: #000;
        font-size: 6rem;
        display: block;
        transition: all 1s ease-in-out;

        &.active {
            transform: rotate(180deg);
        }
    }

    p {
        font-size: 3rem;
        font-weight: bold;
        margin-top: -20vh;
        color: rgba(0, 0, 0, 0.0);
        transition: all 1.2s ease;

        &.active {
            color: rgba(0, 0, 0, 1);
        }
    }
}


@keyframes bounce {
    70%  { transform: translateX(-50%) translateY(0%); }
    80%  { transform: translateX(-50%) translateY(-15%); }
    90%  { transform: translateX(-50%) translateY(0%); }
    95%  { transform: translateX(-50%) translateY(-7%); }
    97%  { transform: translateX(-50%) translateY(0%); }
    99%  { transform: translateX(-50%) translateY(-3%); }
    100% { transform: translateX(-50%) translateY(0); }
}