@media (max-width : 1200px) {

    #index {
        main {
            h1 {
                font-size: 3rem;
            }

            span.bounce {
                bottom: 1px;
            }

            p {
                font-size: 2rem;
                text-align: center;
                margin-top: -30vh;
            }
        }
    }
    
    #themes {

        header {
            nav {
                width: 95%;
                font-size: 0.9rem;
            }
        }
        main {
            height: 500px;
            section {
                max-width: 100%;
                padding: 96px 0px;

                article {
                    
                    padding: 24px;
                    width: 100%;

                    h2 {
                        font-size: 1.8rem;
                    }
                    p {
                        max-width: 80%;font-size: 1.2rem;
                    }            
                }
            }
        }       
    }
}

@media (max-width : 700px) {

    #themes {

        main {

            height: 350px;
            section {
                max-width: 100%;
                padding: 96px 0px;

                article {
                    
                    padding: 24px;
                    width: 100%;

                    h2 {
                        font-size: 1.2rem;
                    }
                    p {
                        max-width: 80%;
                        font-size: 0.8rem;
                    }            
                }
            }
        }       
    }
}