@media (max-width : 1200px) {

    #index {
        main {
            h1 {
                font-size: 3rem;
            }

            span.bounce {
                bottom: 1px;
            }

            p {
                font-size: 2rem;
                text-align: center;
                margin-top: -30vh;
            }
        }
    }
    
    #themes {

        header nav {
            width: 90%;
        }

        ul.menu {
            gap: 20px;
        }

        main {
            height: 500px;
            section {
                max-width: 100%;
                padding: 96px 0px;

                article {
                    
                    padding: 24px;
                    width: 100%;

                    h2 {
                        font-size: 1.8rem;
                    }
                    p {
                        max-width: 80%;font-size: 1.2rem;
                    }            
                }
            }
        }       
    }
}

@media (max-width : 700px) {

    #themes {

        main {

            height: 350px;
            header {
                height: auto;
                padding: 15px 0;
            }

            header nav {
                width: 95%;
                position: relative;
                flex-wrap: wrap;
            }

            .menu-toggle {
                display: block;
                order: 2;
            }

            .btn-about {
                display: none;
            }

            ul.menu {
                display: none !important;
                flex-direction: column;
                width: 100%;
                gap: 20px;
                padding: 25px 0;
                text-align: center;
                background: white;
                order: 3;
            }

            ul.menu.open {
                display: flex !important;
            }

            ul.menu .dot-nav {
                display: none;
            }

            
            section {
                max-width: 100%;
                padding: 96px 0px;

                article {
                    
                    padding: 24px;
                    width: 100%;

                    h2 {
                        font-size: 1.2rem;
                    }
                    p {
                        max-width: 80%;
                        font-size: 0.8rem;
                    }            
                }
            }
        }       
    }
}