@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

:root {
    --primary-color : #FFF;
    --secondary-color : #E40613;
    --third-color : #FFE39F;
    --four-color : #3860BE;
    --four-color : #4B4B4B;
    --primary-font: "Google Sans", sans-serif;
}