#themes {
    height: 100vh;
    position: relative;
    background-color: var(--third-color);
    background-image: url('../img/theme1/cointheme1.png'),
                      url('../img/theme1/second-bg.png');

    background-size: 70%,
                     23%;

    background-position-x: right,
                           80%;

    background-position-y: bottom;
    background-repeat: no-repeat;
    
    main {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10vh;

        section {
            position: relative;
            display: flex;
            flex-direction: column;
            height: 80vh;
            justify-content: space-between;
            align-items: center;
            
            article {
                max-width: 60%;
            }
            
            .dot-navigation {
                position: relative;
                z-index: 9999;
                justify-self: flex-end;
                margin: 0 auto;
                color: var(--secondary-color);
                
                button {
                    border: none;
                    margin: 0;
                    padding: 0;
                    width: auto;
                    overflow: visible;
                    cursor: pointer;
                    background: transparent;
                    font-size: 48px;
                    
                    :hover {
                        transform: scale(1.1);
                    }
                }

                button, span {
                    display: inline-block;
                    margin: 0px 20px;
                }

                span {
                    cursor: pointer;
                }
            }
        }
    }
}